@blue : #55B1C8;
@bgBlue : #D5E7EC;
@orange : #CA6340;
@bgOrange : #ECD8D1;

@font-face {
    font-family: 'DejaWebRegular';
    src: url('fonts/dejaweb1-webfont.eot');
    src: url('fonts/dejaweb1-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dejaweb1-webfont.woff') format('woff'),
         url('fonts/dejaweb1-webfont.ttf') format('truetype'),
         url('fonts/dejaweb1-webfont.svg#DejaWebRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DejaWebBold';
    src: url('fonts/dejaweb-bold1-webfont.eot');
    src: url('fonts/dejaweb-bold1-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/dejaweb-bold1-webfont.woff') format('woff'),
         url('fonts/dejaweb-bold1-webfont.ttf') format('truetype'),
         url('fonts/dejaweb-bold1-webfont.svg#DejaWebBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: DejaWebRegular,Helvetica,Arial,"times new roman",times,serif;
    font-size: 12px;
    line-height: 1.5em;
	background: url("img/texture_fab.png") repeat scroll 0 0 @bgOrange;
}

* {
	outline: none;
}

.sprite(@x, @y) {
   background: url(img/searchless_sprite.png) no-repeat;
   background-position: -@x -@y;
}

.hideText{
   text-indent: -999em;
   letter-spacing: -999em;
   overflow: hidden;
}

.spriteReplace (@x, @y, @width, @height) {
   .sprite(@x, @y);
   .hideText;
   width: @width;
   height: @height;
}

div.headerWrapper {
	background: url("img/texture_fab.png") repeat scroll 0 0 @bgOrange;
    color: @orange;
	position: relative;
	z-index: 9999;
	
	header {
		display: block;
		margin: 0 auto;
		width: 960px;
		z-index: 4444;
		overflow: hidden;
		h1 {
		    font-size: 3em;
			margin: 40px auto;
			text-align: center;
            .spriteReplace (0, 0,256px, 40px);
		}
		h2 {
			font-size: 2em;
			text-align: center;
			text-shadow: 0 1px 0 rgba(255,255,255,0.9);
			.underline {
				font-family: 'DejaWebBold';
				text-decoration: underline;
			}
		}
	    input#searchLessString {
		    clear: right;
		    float: left;
		    font-size: 1.2em;
		    margin-left: 20px;
		    margin-top: 18px;
		    padding: 10px;
		    width: 40%;
	    }
		
		#headerButtons {
			float:right;
			a#changeText {
				
			}
		}
		#file-upload {
			float: left;
			width: 40%;
		}
		#getLessCode {
			float: right;
			width:40%;
			&:after {
				content: "";
			}
		}
		
		.inputTypes {
			height: 200px;
		}
		
		.clearBoth {
			clear:both;
		}
	}
}

.contentWrapper {
	background: none repeat scroll 0 0 @bgBlue;
	min-height: 700px;
	.content {
		#viewDemo {
		text-align: center;
			a {
			    display: block;
				padding: 40px 0;
			}
		}
		.searchPageWrapper {
			background: url("img/texture_lines.png") repeat scroll 0 0 @bgBlue;
			
			.searchInputWrapper {
				background: none repeat scroll 0 0 #EEEEEE;
				display: block;
				left: 50%;
				margin-left: -480px;
				margin-top: 30px;
				padding: 40px 0;
				position: fixed;
				top: -150px;
				width: 960px;
				z-index: 999;
			
				#searchLessString {
				
					width:600px;
					
				}
				#headerButtons {
				
					float: right;
					width: 200px;
					
				}			
			}
			.lessFileContentWrapper {
			
				background: none repeat scroll 0 0 lightgray;
				border-top: 1px solid #000000;
				display: none;
				margin: 20px auto 0;
				width: 960px;
				
				.lessFileContent {
					
					
				}
	
			}
		}
	}
}

#goBackButton {
	margin-right: -480px;
    position: absolute;
    right: 50%;
    top: 0;
}


#lessCode {
    font-family: monospace;
    padding: 20px;
    position: relative;
    //top: 100px;
	span.highlighted {
	    background-color: #FFFF00;
	    font-weight: bold;
		span.chunk {
			background: red;
		}
	}
	span.nestedHighlight1 {
		background: rgba(0,0,0,0.1);
	}
}
