/* CSS crunched with Crunch - http://crunchapp.net/ */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
div.wrapper header{background:none repeat scroll 0 0 #DDDDDD;display:block;height:100px;position:fixed;width:100%;z-index:4444;}div.wrapper header h1{float:left;}
div.wrapper header input#searchLessString{clear:right;float:left;font-size:1.2em;margin-left:20px;margin-top:18px;padding:10px;width:40%;}
div.wrapper header #headerButtons{float:right;}
#openingBox{background:none repeat scroll 0 0 #FFFFFF;border:1px solid #999999;box-shadow:1px 1px 2px #999999;left:0;margin:0 auto;padding:10px 100px 50px;position:absolute;right:0;top:50px;width:960px;z-index:9999;}#openingBox header{border-bottom:1px solid #DDDDDD;padding:20px 0;}#openingBox header #viewDemo{float:right;}
#openingBox header h1{float:left;}
#openingBox header:after{clear:both;content:'\0000a0';}
#openingBox .inputTypes .qq-upload-button{height:120px;text-align:left;width:100%;}
#openingBox-background{background:none repeat scroll 0 0 rgba(255, 255, 255, 0.8);content:"";display:block;height:200px;left:0;position:absolute;top:0;width:200px;z-index:5555;}
#lessCode{font-family:monospace;padding:20px;position:relative;top:100px;}#lessCode span.highlighted{background-color:#FFFF00;font-weight:bold;}#lessCode span.highlighted span.chunk{background:red;}
#lessCode span.nestedHighlight1{background:rgba(0, 0, 0, 0.1);}
